*{
    margin: 0;
    padding: 0;

}
body{
    background-image:url('../images/home/new1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

}

body{
    background-color:#a4a1fd !important ;
}

nav {
    background-color: black;
    
}

nav img{
    width:250px;
   
}

div ul {
    list-style-type: none; 
    
}
div ul li {
    float: left;
    width:150px;
    font-size: 20px;
}
div ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: Bell MT;
}
div ul li a:hover{
    
    color:white;
    
}
div ul li ul li{
    display:none ;
}
div ul li:hover ul li{
    display: block;
}

p{
    text-align: center;
    font-size: 40px;
    font-family: Sitka Subheading Semibold;
    font-weight: bold;
    color: white;
    text-transform:capitalize;

}