
body{
    background-color:#a4a1fd !important ;
}

nav {
    background-color: black;
    
}

nav img{
    width:250px;
   
}

div ul {
    list-style-type: none; 
    
}
div ul li {
    float: left;
    width:150px;
    font-size: 20px;
}
div ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: Bell MT;
}
div ul li a:hover{
    
    color:white;
    
}
div ul li ul li{
    display:none ;
}
div ul li:hover ul li{
    display: block;
}

p{
    text-align: center;
    font-size: 40px;
    font-family: Sitka Subheading Semibold;
    font-weight: bold;
    color: white;
    text-transform:capitalize;

}



.card-parent{
    width:250px;
    height:300px;
    padding: 20px;
    background-color:#7976fa !important;
}
.card-child1{
    width:200px;
    height:200px;
}
.card-child2{
    width:250px;
    height:100px;
}
.card-img{
    width:150px;
    height:150px;
}

.card-hello{
    border-radius: 13px;
    background-color: #e9b229;
    width:150px;
}

