*{
    margin: 0;
    padding: 0;

}
img{
    margin:0;
}
nav{
    background-color: bisque;
    margin: 0;
    padding: 0;
}

nav img{
    width:200px;
}

div ul {
    list-style-type: none; 
    
}
div ul li {
    float: left;
    width:150px;
    font-size: 30px;
}
div ul li a{
    text-decoration: none;
    color:darkblue;
    font-weight: bold;
    font-style: italic;
    text-transform: capitalize;
    

}
div ul li a:hover{
    background-color:whitesmoke;
    color:darkred;
    text-transform:uppercase;
}
div ul li ul li{
    display:none ;
    border: 1px solid white;
    background-color:#f9e8da;
}
div ul li ul li a:hover {
    background-color: white;
}
div ul li:hover ul li{
    display: block;
}
p{
    text-align: center;
    font-size: 30px;
    font-family: arial;
    font-weight: bold;
    font-style: italic;
    color: rgb(11, 6, 6);
    text-transform:uppercase;
    padding-top:3%;
}



.card-gran{
    margin: 0;
    padding: 0;
    background-position: fixed;
}

.card-parent{
    width:250px;
    height:320px;
    padding: 20px;
}
.card-child1{
    width:200px;
    height:200px;
}
.card-child2{
    width:250px;
    height:100px;
}
.card-img{
    width:150px;
    height:150px;
}
.card-body-font{
    font-size: 15px;
}

