body{
    background-color:#a4a1fd !important ;
}

nav {
    background-color: black;
    
}

nav img{
    width:250px;
   
}

div ul {
    list-style-type: none; 
    
}
div ul li {
    float: left;
    width:150px;
    font-size: 20px;
}
div ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: Bell MT;
}
div ul li a:hover{
    
    color:white;
    
}
div ul li ul li{
    display:none ;
}
div ul li:hover ul li{
    display: block;
}

p{
    text-align: center;
    font-size: 40px;
    font-family: Sitka Subheading Semibold;
    font-weight: bold;
    color: white;
    text-transform:capitalize;

}


.card-parent
{
    width:300px;
    height:100px;
    background-color:#7976fa !important;
}

.card-child{
    width:280px;
    height:80px;
}

.card-heading{
    width: 90px;
    height:90px;
}
slide img,div1{
    display: inline-block;  
}
slide div1{
    vertical-align: top ;
}
slide div1 {
    vertical-align: center;
}
h{
    font-size:13px;
}
slide img,div1 a{
    color: black;
}
