
body{
    background-color:#a4a1fd !important ;
}

nav {
    background-color: black;
    
}

nav img{
    width:250px;
   
}

div ul {
    list-style-type: none; 
    
}
div ul li {
    float: left;
    width:150px;
    font-size: 20px;
}
div ul li a{
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-family: Bell MT;
}
div ul li a:hover{
    
    color:white;
    
}
div ul li ul li{
    display:none ;
}
div ul li:hover ul li{
    display: block;
}

p{
    text-align: center;
    font-size: 40px;
    font-family: Sitka Subheading Semibold;
    font-weight: bold;
    color: white;
    text-transform:capitalize;

}



.card-gran{
    display: block;
  margin-left: auto;
  margin-right: auto;
  background-color:#7976fa !important;
 
}


.card-parent{
    width:200px;
    height:200px; 
    padding:20px;  
    text-align: center;
}
.card-header{
 width:150px;
 height: 150px;

}

.card-image{
    width:100px;
    height:100px;
}
.card-hello{
    border-radius: 13px;
    background-color: #e9b229;
    width:100px;
}



